/* ====== Fuentes personalizadas ====== */
@font-face {
font-family: 'general';
src: url('../assets/supercharge-font/SuperchargeItalic-ywOWd.otf') format('truetype');
}
@font-face {
font-family: 'titulo';
src: url('../assets/supercharge-font/SuperchargeStraightHalftone-YzY7q.otf') format('truetype');
font-weight: 800;
}

/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', Courier, monospace;
    color: #333;
    background-color: #fff;
    overflow-x: hidden ;
}

/** HEADER */
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.name-header{
    letter-spacing: 2px;
    font-style: italic;
    color: rgb(3,3,85);
    font-size: 1.3rem;
    font-weight: 800;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none; /* es especifico de las lista */
    font-size: 0.9rem;
}

nav ul li a{
    color: rgb(3,3,85);
    text-decoration: none;  /* es especifico de las a */
    font-weight: 600;
}

@media(max-width:900px){
    .menu{
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
}
}

/* seccion del vieo: padre relativo, el video que sera el 
fondo cover de padre contenedor y sobre el estara div con: info + btn
 */

.section-video-relative{
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #fff;
}

#myVideo{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hijo-absoluto{
    position: absolute;
    left: 1%;
    bottom: 1%;
}

.hijo-absoluto > *{
    display: block;
    margin: 1rem;

}

.btn-head{
    width: 50%;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(3,3,85);
    color: #fff;
    transition: background-color 0.3s;
}
.btn-head:hover{
    background-color:  rgba(3,3,85, 0.7);;
}


/** seccion HOME */
.section{
    min-height: 100vh;
    background-color: #fff;
    color: rgb(3,3,85);
    text-align: justify;
    line-height: 2;
    /* TODO: QUITAMOS ESTE MAGEN */
    /* margin: 1rem auto; */
}


/** seccion contenedor flexible: text + img ambas son <div  */

.container-info-dividida{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container-info-dividida > div{
    max-width: 50%;
    padding: 1rem;
}

.hermano-derecho{
    text-align: center;
}

@media(max-width:1000px){

    .container-info-dividida{
    flex-direction: column;
}
    .container-info-dividida > div, .container-info-dividida img{
    min-width: 100%;
    height: auto;
}

}

/** FUENTES */

h1{
    font-family: titulo, sans-serif;
    font-size: 3rem;
    font-style: italic;
}
h2{
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem ;
}


/* BASE: defalult  */
html{
    font-size:18px ;
}

p{
    font-size:1.2rem;
}

/* ====== Media Queries: FONTS ====== */
@media(min-width:0px) and (max-width:600px){
    html{
    font-size:12px;
    }

    p{
        font-size:1rem;
    }

}

@media(min-width:601px) and (max-width:1000px){
    html{
    font-size:14px;
    }

    p{
        font-size:1.2rem;
    }

}


/* ====== HTML + CSS: Proyectos, ID='mis-trabajos' ====== */

.proyectos-container{
    display: flex;
    flex-wrap:wrap;  /* impoetante la responsividad y que no ocurra overflow */
    justify-content: space-around;
    gap:0.1rem
}
.project-card{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    min-width: 25%;
    min-height: 40vh; 
}

.project-card > *{
    line-height: 1.3;
    font-size: .9rem;
}


.project-card:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-8px);
}

.project-image{
    width: 100%;
    object-fit:cover;
    border-radius: .4rem;
}

.project-title{
    margin: 0.5rem 0;
    font-weight: 600;
}

.project-description{
    color: #555;
}

.project-link{
    color: #1004f1;
    display: block;
    margin-top: 0.5rem;
    text-decoration: none;
}

.project-link:hover{
    text-decoration: underline;
}


/* ====== HTML + CSS -> Formulario, d="contact" ====== */

section #contact{
     min-height: 100vh;
     padding-bottom: 20vh;
     z-index: 5;
}
#contact-form{
    background-color: aliceblue;
    width: 80%;
    padding: 5rem;
    text-align: center;
    margin: 3rem auto;

       
}
label{
        display: block;
        margin-bottom: .5rem;
}

input, textarea{
        width: 100%;
        padding: 0.5rem;
        border: 2px solid #ddd;
        border-radius: 4px;
}

textarea{
    height: 30vh;
    font-family: 'Trebuchet MS', Courier, monospace;
}


/* TODO: Estilos para los mensajes de error */
/* Estilos para inputs y textarea */
#contact-form input,
#contact-form textarea {
    border-radius: 5px;
    font-size: 1em;
    /* Animación suave para los bordes */
    transition: border-color .9s ease;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #4CAF50;
}

.error-message{
    color: red;
    display: none; /* Oculto por defecto */
    margin: 0.5rem;
    font-family: 'Trebuchet MS', Courier, monospace;
    
 /* TODO:  == Estilos para los mensajes de error  ======================================*/
    background-color: #ffcc;
    font-size: 0.85em;
    font-weight: 500;
}





/* ====== HTML + CSS ->  Footer ====== */

footer{
    background-color: #1e40af;
    color: #ddd;
    padding:  2rem 0;
    text-align: center;
}
.container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.social-icons{
    display: flex;
    gap: 1.5rem;
}

.social-icons a{
    color: #fff;
    transition:  color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.social-icons a:hover{ color: #5c54ef;}
.social-icons a.facebook:hover{ color: #a29eed;}
.social-icons a.twitter:hover{ color: #46a3dd;}
.social-icons a.instagram:hover{ color: #cc1990;}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}


